<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rutas</title>
  <link rel="stylesheet" href="/css/autobus.css">
</head>
<body>
<h1>Rutas</h1>
<table>
  <tr>
    <td>ID</td>
    <td>Distancia</td>
    <td>Desnivel</td>
    <td>Fecha</td>
    <td>Tiempo</td>
    <td>Tipo</td>
    <td>Peligrosidad</td>
    <td>Dificultad</td>
    <td>Foto</td>
<!--    <td>Monte</td>-->
    <td>Editar</td>
    <td>Eliminar</td>
  </tr>
  <tr th:each="ruta : ${rutas}">
    <td th:text="${ruta.id}"></td>
    <td th:text="${ruta.distancia}"></td>
    <td th:text="${ruta.desnivel}"></td>
    <td th:text="${ruta.fecha}"></td>
    <td th:text="${ruta.tiempo}"></td>
    <td th:text="${ruta.tipo}"></td>
    <td th:text="${ruta.peligrosidad}"></td>
    <td th:text="${ruta.dificultad}"></td>
    <td><img th:src="@{/ruta/foto(id=${ruta.id})}" alt="Error al cargar" width="500"></td>
<!--    <td th:text="${ruta.monte.nombre}"></td>-->
    <td><a th:href="|/ruta/add?id=${ruta.id}|">Editar</a></td>
    <td><a th:href="|/ruta/eliminar?id=${ruta.id}|">Eliminar</a></td>
  </tr>
</table>
  <a th:href="|/ruta/add?|">Añadir</a>
  <a th:href="|/|">Salir</a>
</body>
</html>