<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rutas</title>
  <link rel="stylesheet" href="/css/all.css">
</head>
<body>
  <header>
    <a href="/monte">Montes</a>
    <a href="/ruta">Rutas</a>
    <a href="/calendario">Calendario</a>
    <a href="/mendiklopedia">Mendiklopedia</a>
    <a href="/top">TOP</a>
  </header>
<h1>Rutas</h1>
<table>
  <tr>
    <th>Distancia</th>
    <th>Desnivel</th>
    <th>Tiempo</th>
    <th>Monte</th>
    <th>Ver mas</th>
    <th class="btnOpciones">Editar</th>
    <th class="btnOpciones">Eliminar</th>
  </tr>
  <tr th:each="ruta : ${rutas}">
    <td th:text="${ruta.distancia}"></td>
    <td th:text="${ruta.desnivel}"></td>
<!--    <td th:text="${ruta.fecha}"></td>-->
    <td th:text="${ruta.tiempo}"></td>
<!--    <td th:text="${ruta.tipo}"></td>-->
<!--    <td th:text="${ruta.peligrosidad}"></td>-->
<!--    <td th:text="${ruta.dificultad}"></td>-->
<!--    <td><img th:src="@{/ruta/foto(id=${ruta.id})}" alt="Error al cargar" width="500"></td>-->
    <td th:text="${ruta.monte.nombre}"></td>
    <td><a th:href="|/ruta/verMas?id=${ruta.id}|">Ver mas</a></td>
    <td><a th:href="|/ruta/add?id=${ruta.id}|" id="btnEditar">Editar</a></td>
    <td><a th:href="|/ruta/eliminar?id=${ruta.id}|" id="btnEliminar">Eliminar</a></td>
  </tr>
</table>
  <div class="buttons-container">
      <a th:href="|/ruta/add?|">Añadir</a>
      <a th:href="|/|">Salir</a>
  </div>
</body>
</html>