<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rutas asociadas a un monte</title>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>
<h1>Rutas</h1>

  <div th:insert="fragments/header :: header"></div>
  <a href="/ver/monte" class="atras">← Atras</a>
<table>
  <tr>
    <th>Distancia</th>
    <th>Desnivel</th>
    <th>Fecha</th>
    <th>Tiempo</th>
  </tr>
  <tr th:each="ruta : ${rutas}">
    <td th:text="${ruta.distancia}"></td>
    <td th:text="${ruta.desnivel}"></td>
    <td th:text="${ruta.fecha}"></td>
    <td th:text="${ruta.tiempo}"></td>
  </tr>
</table>
</body>
</html>