<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Monte</title>
    <link rel="stylesheet" href="/css/addConductor.css">
</head>
<body>
  <form action="#" th:action="@{/monte/add}" th:object="${monte}" method="post">


     <input type="hidden" th:if="${editar}" th:field="*{id}"/> <!-- Los inputs disabled no envian informacion, por lo que si esta disables hago esta trampa para enviar informacion. Si no carnet seria null-->


    <p>Nombre: <input type="text" th:field="*{nombre}"/></p>

    <p>Altura: <input type="number" th:field="*{altura}"/></p>

    <p>Ubicacion: <input type="text" th:field="*{ubicacion}"/></p>


    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  <a th:href="|/monte|">Salir</a>
</body>
</html>