<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Montes</title>
    <link rel="stylesheet" href="/css/conductor.css">
</head>
<body>
    <h1>Montes</h1>
    <table>
        <tr>
            <td>Nombre</td>
            <td>Altura</td>
            <td>Ubicacion</td>
            <td>Num Rutas</td>
            <td>Ver rutas</td>
            <td>Editar</td>
            <td>Eliminar</td>

        </tr>
        <tr th:each="monte : ${montes}">
            <td th:text="${monte.nombre}"></td>
            <td th:text="${monte.altura}"></td>
            <td th:text="${monte.ubicacion}"></td>
            <td><p th:text="'Rutas: ' + ${monte.asciende.size()}"></p></td>
            <td><a th:href="|/monte/rutas?id=${monte.id}|">Ver rutas</a></td>
            <td><a th:href="|/monte/add?id=${monte.id}|">Editar</a></td>
            <td><a th:href="|/monte/eliminar?id=${monte.id}|">Eliminar</a></td>
        </tr>
    </table>
    <a th:href="|/monte/add?|">Añadir</a>
    <a th:href="|/|">Salir</a>
</body>
</html>