<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Montes</title>
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
<header>
    <a href="/monte">Montes</a>
    <a href="/ruta">Rutas</a>
    <a href="/calendario">Calendario</a>
</header>

<h1>Montes</h1>
    <table>
        <tr>
            <td>Nombre</td>
            <td>Altura</td>
            <td>Ubicacion</td>
            <td>Apuntes</td>
            <td>Num ascensiones</td>
            <td>Ver rutas</td>
            <td>Editar</td>
            <td>Eliminar</td>

        </tr>
        <tr th:each="monte : ${montes}">
            <td th:text="${monte.nombre}"></td>
            <td th:text="${monte.altura}"></td>
            <td th:text="${monte.ubicacion}"></td>
            <td th:text="${monte.apuntes}"></td>
            <td><p th:text="'Numero: ' + ${monte.asciende.size()}"></p></td>
            <td><a th:href="|/monte/rutas?id=${monte.id}|">Ver rutas</a></td>
            <td><a th:href="|/monte/add?id=${monte.id}|">Editar</a></td>
            <td><a th:href="|/monte/eliminar?id=${monte.id}|">Eliminar</a></td>
        </tr>
    </table>
    <div class="buttons-container">
        <a th:href="|/monte/add?|">Añadir</a>
        <a th:href="|/|">Salir</a>
    </div>
</body>
</html>