<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rutas</title>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>

  <div th:insert="fragments/header :: header"></div>

<h1>Rutas</h1>
<table>
  <tr>
    <th>Distancia</th>
    <th>Desnivel</th>
    <th>Tiempo</th>
    <th>Monte</th>
    <th>Personas</th>
    <th class="btnOpciones">Editar</th>
    <th class="btnOpciones">Eliminar</th>
  </tr>
  <tr th:each="ruta : ${rutas}" th:onclick="'window.location=\'/ruta/verMas?id=' + ${ruta.id} + '\';'" style="cursor: pointer;">
    <td th:text="${ruta.distancia}"></td>
    <td th:text="${ruta.desnivel}"></td>
    <td th:text="${ruta.tiempo}"></td>
    <td th:text="${ruta.monte.nombre}"></td>
    <td th:text="${ruta.completa.size()}"></td>
    <td><a th:href="|/ruta/add?id=${ruta.id}|" id="btnEditar">Editar</a></td>
    <td><a th:href="|/ruta/eliminar?id=${ruta.id}|" id="btnEliminar">Eliminar</a></td>
  </tr>
</table>
  <div class="buttons-container">
      <a th:href="|/ruta/add?|">Añadir</a>
      <a th:href="|/|">Salir</a>
  </div>
</body>
</html>