<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summitrack</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
    <link rel="stylesheet" href="/css/verMas.css">
</head>
<body>
    <div th:insert="fragments/header :: header"></div>
<div >
    <h1>Detalles de la Ruta</h1>

    <div >
        <div><strong>Distancia:</strong> <span th:text="${ruta.distancia}"></span> km</div>
        <div><strong>Desnivel:</strong> <span th:text="${ruta.desnivel}"></span> m</div>
        <div><strong>Fecha:</strong> <span th:text="${ruta.fecha}"></span></div>
        <div><strong>Tiempo:</strong> <span th:text="${ruta.tiempo}"></span> min</div>
        <div><strong>Tipo:</strong> <span th:text="${ruta.tipo}"></span></div>
        <div><strong>Peligrosidad:</strong> <span th:text="${ruta.peligrosidad}"></span>/10</div>
        <div><strong>Dificultad:</strong> <span th:text="${ruta.dificultad}"></span>/10</div>
        <div><strong>Apuntes:</strong> <span th:text="${ruta.apuntes}"></span>/10</div>
        <div><strong>Monte:</strong> <span th:text="${ruta.monte != null ? ruta.monte.nombre : 'Sin Monte'}"></span></div>
    </div>

    <div>
        <img th:src="@{'/uploads/' + ${ruta.foto}}" alt="Imagen de la ruta" class="rounded-lg shadow-md mx-auto w-80 h-48 object-cover">
    </div>

    <div >
        <a th:href="|/ruta/add?id=${ruta.id}|" >✏️ Editar</a>
        <a th:href="|/ruta/eliminar?id=${ruta.id}|" >🗑️ Eliminar</a>
        <a th:href="@{/ver/ruta}" >⬅️ Volver</a>
    </div>
</div>

</body>
</html>
